.pageNav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5em;
  font-size: 18px;
}

.packing-btn {
  height: 50px;
  border-radius: 0;
}

.day-btn {
  height: 50px;
  border-radius: 0;
}

.faq-btn {
  height: 50px;
  border-radius: 0;
}

@media only screen and (min-width: 800px) {
  .pageNav {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5em;
  }
}